<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:title" content="{{title}}">
    <meta name="og:description" content="{{description}}">
    {{#if share_image}}
      <meta name="og:image" content="{{site_url}}{{share_image}}">
    {{/if}}
    <meta name="og:url" content="{{site_url}}{{url}}">
    <meta name="twitter:card" content="summary">
    <title>{{title}}</title>
    <link rel="alternate" type="application/rss+xml" title="{{title}}" href="{{site_url}}/index.rss">
    <style>{{>style}}</style>
  </head>
  <body>
    <header>
    {{#if hero_image}}
      <img src="{{hero_image}}">
    {{/if}}
    <h1><a href="{{site_url}}/{{url}}" class="title">{{title}}</a></h1></header>
    <main class="content">
  <article class="post">
  <div>
    {{{contents}}}
  </div>
  <time>{{modified}}</time>
  Tags: <ul class="tags">
  {{#each tags}}
    <li class="tags"><a href="tags.html#{{this}}">{{this}}</a></li>
  {{/each}}
  </ul>
  <nav><a href="{{site_url}}">back home</a></nav>
</article>
    <footer class="content">Last updated: {{pub_date}}</footer>
  </body>
</html>
