<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:title" content="{{title}}">
    <meta name="og:description" content="{{description}}">
    {{#if share_image}}
      <meta name="og:image" content="{{site_url}}{{share_image}}">
    {{/if}}
    <meta name="og:url" content="{{site_url}}{{url}}">
    <meta name="twitter:card" content="summary">
    <title>{{title}}</title>
    <link rel="alternate" type="application/rss+xml" title="{{title}}" href="{{site_url}}/index.rss">
    <style>{{>style}}</style>
  </head>
  <body>
    <header><h1><a href="{{site_url}}" class="title">{{title}}</a></h1></header>
    <main class="content">
    {{#each contents}}
<article class="post">
  <div>
    {{#if this.hero_image}}
      <img src="{{this.hero_image}}">
    {{/if}}
    <h2><a href="{{this.url}}">{{{this.title}}}</a></h2>
    {{{this.contents}}}
  </div>
  <time>{{this.modified}}</time>
  Tags: <ul class="tags">
  {{#each this.tags}}
    <li class="tags"><a href="tags.html#{{this}}">{{this}}</a></li>
  {{/each}}
  </ul>
</article>
    {{/each}}
    </main>
    {{#if pagination}}
    <nav class="content">Other posts:
      <ol class="tags">
      {{#each pagination}}
        <li class="tags"><a href="{{this.url}}">{{this.name}}</a></li>
      {{/each}}
      </ol>
    </nav>
    {{/if}}
    <footer class="content">Last updated: {{pub_date}}</footer>
  </body>
</html>
