<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    {{#if share_image}}
      <meta property="og:image" content="{{site_url}}{{share_image}}">
      <meta name="twitter:image" content="{{site_ur}}{{share_image}}">
    {{/if}}
    <meta property="og:url" content="{{site_url}}">
    <meta property="twitter:url" content="{{site_url}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">

    <title>{{title}}</title>
    <link rel="alternate" type="application/atom+xml" title="{{title}}" href="{{site_url}}/index.xml">
  </head>
  <body>
    <header><h1><a href="{{site_url}}">{{title}}</a></h1></header>
    <main>

    {{#each contents}}
    <article>
      <div>
        {{#if this.hero_image}}
          <img src="{{this.hero_image}}">
        {{/if}}
        <h2><a href="{{this.url}}">{{{this.title}}}</a></h2>
        {{{this.contents}}}
      </div>
      <time>{{date this.modified "%B %e, %Y"}}</time>
      Tags: <ul>
      {{#each this.tags}}
        <li><a href="tags.html#{{this}}">{{this}}</a></li>
      {{/each}}
      </ul>
    </article>
    {{/each}}

    </main>

    {{#if pagination}}
    <nav>Other posts:
      <ol>
      {{#each pagination}}
        <li><a href="{{this.url}}">{{this.name}}</a></li>
      {{/each}}
      </ol>
    </nav>
    {{/if}}

    <footer>Last updated: {{pub_date}}</footer>
  </body>
</html>
